@font-face {
    font-family: benard;
    src: url(./font/RussoOne-Regular.ttf);
}
html body{
    overflow: hidden;

}
.bb{
    font-family: benard;
}
#field{
    position: absolute;
    width:90vw;
    margin-left: 4vw;
    height: 70vh;
    border: 10px solid black;
    background-image: url(./loleee.jpg);
    color: transparent;
    overflow: hidden;
    z-index: 0;
    cursor: url("./cleat.png"),pointer;
}
#ball{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;
}
p{
    text-align: center;
    font-size: 150px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    color: black;
    padding: 0;
}
#goalOne{
    background-color: white;
    position: absolute;
    width: 4vw;
    border: .5vw solid blue;
        color: blue;
    margin-top: 12vw;
    z-index: 9;
    height: 10vw;
        cursor: url("./goal.png"), pointer;
}
#goalTwo {
    background-color: white;
    margin-left: 86vw;
    position: absolute;
    width: 4vw;
    border: .5vw solid red;
    color: red;
    margin-top: 12vw;
    z-index: 9;
    height: 10vw;
        cursor: url("./goal.png"), pointer;
}
.teamOne{
    width: 100%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 9;
    display: none;
    font-size: 5vw;
    position: absolute;
    color: blue;
    text-shadow: 0px 0px 5px black;
}
.teamTwo {
    width: 100%;
    color: rgba(255, 0, 0, 0.514);
    text-align: center;
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 9;
    text-shadow: 0px 0px 5px black;
    font-size: 5vw;
    position: absolute;
}
.score{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
}